Repository clober-dex/library: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-ts, lint-sol

lint-ts:
  name: lint ts
  entry: /usr/bin/env bash -c "npm run prettier:ts"
  language: script
  description: Checks TS code according to the package's linter configuration

lint-sol:
  name: lint solidity
  entry: /usr/bin/env bash -c "npm run lint:sol"
  language: script
  description: Checks Solidity code according to the package's linter configuration

docs: add SpearbitDAO audit Report
  audits/SpearbitDAO2023Feb.pdf
Due: none

docs: add audit information to README
  README.md
Due: none

chore: remove pr template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

perf: when solidity file changed
  .github/workflows/ci.yaml
Due: none

perf: split ci
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
Due: none

ci: add test/**/*.ts
  .github/workflows/test.yaml
Due: none

test
  README.md
Due: none

test2
  contracts/Create1.sol
Due: lint-sol

ci: add ci checker
  .github/workflows/commit-checker.yaml
  .github/workflows/pr-checker.yaml
Due: none

ci: fix job name
  .github/workflows/commit-checker.yaml
  .github/workflows/pr-checker.yaml
Due: none

feat: `MinBitMap`
  contracts/MinBitMap.sol
Due: lint-sol

fix: `wordIndex`
  contracts/MinBitMap.sol
Due: lint-sol

test: `MinBitMapTest`
  contracts/interfaces/CloberMinBitMap.sol
  contracts/mocks/MinBitMapWrapper.sol
  test/foundry/MinBitMap.t.sol
Due: lint-sol

refactor: remove `rootWordIndex`, rootBitIndex`
  contracts/MinBitMap.sol
Due: lint-sol

refactor: use uint256 for `bitIndex`
  contracts/MinBitMap.sol
Due: lint-sol

fix: `_split` has to return `uint8`
  contracts/MinBitMap.sol
Due: lint-sol

test: add assert error message
  test/foundry/MinBitMap.t.sol
Due: lint-sol

chore: License
  contracts/MinBitMap.sol
Due: lint-sol

refactor: change ERROR_CODE public
  contracts/MinBitMap.sol
Due: lint-sol

test: `PushExistNumber`, `PopWhenEmpty`
  test/foundry/MinBitMap.t.sol
Due: lint-sol

perf: use `DEBRUIJN_SEQ`
  contracts/SignificantBit.sol
Due: lint-sol

feat: `getNextMinValue`
  contracts/MinBitMap.sol
  contracts/mocks/MinBitMapWrapper.sol
Due: lint-sol

refactor: rename `MinBitMap` to `Heap`
  contracts/Heap.sol
  contracts/interfaces/CloberMinBitMap.sol
  contracts/mocks/HeapWrapper.sol
  test/foundry/Heap.t.sol
Due: lint-sol

refactor: rename `wordIndex`, `bitIndex`
  contracts/Heap.sol
  contracts/mocks/HeapWrapper.sol
Due: lint-sol

fix: `minGreaterThan` logic
  contracts/Heap.sol
  contracts/interfaces/CloberHeap.sol
  contracts/mocks/HeapWrapper.sol
  test/foundry/Heap.t.sol
Due: lint-sol

refactor: modify error form
  contracts/Heap.sol
  test/foundry/Heap.t.sol
Due: lint-sol

refactor: rename `B0_BITMAP_KEY`
  contracts/Heap.sol
Due: lint-sol

test: `minGreaterThan`
  test/foundry/Heap.t.sol
Due: lint-sol

refactor: return 0 when no greater element
  contracts/Heap.sol
  test/foundry/Heap.t.sol
Due: lint-sol

perf: gas
  contracts/Heap.sol
Due: lint-sol

chore: upgrade dependencies
  .eslintignore
  .eslintrc.yaml
  .github/workflows/test.yaml
  .nvmrc
  .prettierrc
  .solhint.json
  .solhintignore
  package-lock.json
  package.json
  tsconfig.json
Due: none

chore: upgrade solc version
  foundry.toml
  hardhat.config.ts
  package-lock.json
Due: lint-ts

style: change lint
  .github/workflows/lint.yaml
  contracts/DirtyUint64.sol
  contracts/OctopusHeap.sol
  contracts/PackedUint256.sol
  contracts/SegmentedSegmentTree.sol
  contracts/interfaces/CloberOctopusHeap.sol
  contracts/interfaces/CloberPackedUint256.sol
  contracts/interfaces/CloberSegmentedSegmentTree.sol
  contracts/mocks/DirtyUint64Wrapper.sol
  contracts/mocks/PackedUint256Wrapper.sol
  task/docs.ts
  test/Create1.test.ts
  test/DirtyUint64.test.ts
  test/OctopusHeap.test.ts
  test/PackedUint256.test.ts
  test/SegmentedSegmentTree.test.ts
  test/foundry/DirtyUint64.t.sol
  test/foundry/SegmentedSegmentTree.t.sol
  test/foundry/SignificantBit.t.sol
  test/utils.ts
  utils/misc.ts
  utils/time.ts
Due: lint-ts, lint-sol

ci: fix ci node version and script
  .github/workflows/deployer.yaml
  .github/workflows/test.yaml
Due: none

style: change lint
  contracts/OctopusHeap.sol
  contracts/SegmentedSegmentTree.sol
  contracts/interfaces/CloberOctopusHeap.sol
  contracts/interfaces/CloberSegmentedSegmentTree.sol
Due: lint-sol

ci: fix coverage ci
  .github/workflows/test.yaml
Due: none

style: lint
  contracts/OctopusHeap.sol
  contracts/SegmentedSegmentTree.sol
Due: lint-sol

feat: msb
  contracts/SignificantBit.sol
  contracts/mocks/SignificantBitWrapper.sol
  test/foundry/SignificantBit.t.sol
Due: lint-sol

Path conditions:
  lint-ts: any of: \.ts$
  lint-sol: any of: \.sol$
